<div class="container game">
 
  {{#each gamesId as |game|}}
    <div class="teamDisplay">
      <img
        src="/assets/logos/{{game.dataValues.home_alias}}.png"
        alt="Girl in a jacket"
      />
      <img src="/assets/logos/vs.jpg" alt="Girl in a jacket" />
      <img
        src="/assets/logos/{{game.dataValues.away_alias}}.png"
        alt="Girl in a jacket"
      />
    </div>
    <p> {{game.dataValues.home_name}} VS 
    {{game.dataValues.away_name}}</p>
   
    {{#if (isClosed game.dataValues.status)}}
    <h2 id= "score">Score:</h2>
<p>{{game.dataValues.home_alias}} <span id = "homePoins" class = "">{{game.dataValues.home_points}}</span> : {{game.dataValues.away_alias}} <span id = "awayPoints" class = "">{{game.dataValues.away_points}}</span></p>
    {{else}}
    <p>Watch it on:</p>
    {{#each game.dataValues.broadcasts as |broadcast|}}

      <P>"{{broadcast.network}}" Network</P>
      <P>Type of network: "{{broadcast.type}}" </P>
      <p>-------------------------</p>

    {{/each}}
    {{/if}}
<div id = "commentBox">
<p>Comment section:</p>
{{#each game.dataValues.comments as |comment| }}
<div class="comment">
    <img src="/assets/" alt="" width="150" height="150" class = "avatar">
<p id= "commentInfo">User# {{comment.dataValues.user_id}} said: <div id = "commentText"> {{comment.dataValues.body}}</div>
</p>
</div>
{{/each}}
{{/each}}
</div>

<div class="row " id = "comment-form">
  <div >
    <h3>Add a New Comment:</h3>
    <form class="form">
      <div class="form-group ">
        <label for="comment">Tell them!</label>
        <textarea class="form-input" id="comment" name="comment-content"></textarea>
      </div>
      <div class="form-group mx-auto" id="comment-button">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>




<script src="/js/comment.js"></script>