<div class="container game">
  <h3> This is a Specific game page</h3>

  {{#each gamesId as |game|}}
    <div class="teamDisplay">
      <img
        src="/assets/logos/{{game.dataValues.home_alias}}.png"
        alt="Girl in a jacket"
      />
      <img src="/assets/logos/vs.jpg" alt="Girl in a jacket" />
      <img
        src="/assets/logos/{{game.dataValues.away_alias}}.png"
        alt="Girl in a jacket"
      />
    </div>
    {{game.dataValues.status}}
    {{game.dataValues.home_name}}
    {{game.dataValues.away_name}}
    {{! add if score is avalable }}
    {{game.dataValues.home_points}}
    {{game.dataValues.away_points}}
    {{game.dataValues.home_alias}}

    {{! IT WORKS }}
    {{#if (isClosed game.dataValues.status)}}true{{else}}false{{/if}}

    {{! Create a handlebars helper function }}

    {{! https://stackoverflow.com/questions/10232574/need-handlebars-js-to-render-object-data-instead-of-object-object }}
    <p>Watch it on:</p>
    {{#each game.dataValues.broadcasts as |broadcast|}}

      <P>"{{broadcast.network}}" Network</P>
      <P>Type of network: "{{broadcast.type}}" </P>

      <p>-------------------------</p>
    {{/each}}

    <p>This is comments:</p>
{{#each game.dataValues.comments as |comment| }}
{{#each comment as |test|}}
<p> Hello: {{test.body}}</p>
{{/each}}
{{/each}}

  {{/each}}
</div>
{{! <div class="powr-comments" id="fd7d5970_1639279737"></div>
<script src="https://www.powr.io/powr.js?platform=html"></script> }}


<div class="row mx-auto mt-3" id = "comment-form">
  <div class="col-md-5 ml-5 mr-5 card mx-auto">
    <h3>Add a New Comment:</h3>

    <form class="form new-comment-form">
      <div class="form-group ">
        <label for="comment">Tell them!</label>
        <textarea class="form-input comment" id="comment" name="comment-content"></textarea>
      </div>
      <div class="form-group mx-auto" id="comment-button">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>




<script src="/js/comment.js"></script>