<div class="container game">
    <h1> This is a Specific game page</h1>

    {{#each gamesId as |game|}}
    <div class="teamDisplay">
        <img src="/assets/logos/{{game.dataValues.home_alias}}.png" alt="Girl in a jacket">
        <img src="/assets/logos/vs.jpg" alt="Girl in a jacket">
        <img src="/assets/logos/{{game.dataValues.away_alias}}.png" alt="Girl in a jacket">
    </div>
    {{game.dataValues.status}}
    {{game.dataValues.home_name}}
    {{game.dataValues.away_name}}
    {{!-- add if score is avalable --}}
    {{game.dataValues.home_points}}
    {{game.dataValues.away_points}}
    {{game.dataValues.home_alias}}

    {{!-- IT WORKS --}}
    {{#if (isClosed game.dataValues.status)}}true{{else}}false{{/if}}

    
    {{!-- Create a handlebars helper function --}}

    {{!-- https://stackoverflow.com/questions/10232574/need-handlebars-js-to-render-object-data-instead-of-object-object
    --}}
    <P>"{{game.dataValues.broadcasts.network}}" Network</P>
    <P>"{{game.dataValues.broadcasts.type}}" type</P>
    <P>"{{game.dataValues.broadcasts.locale}}" locale</P>
    <P>"{{game.dataValues.broadcasts.channel}}" channel</P>

    <form id="comment-form" data-id="{{game.dataValues.id}}" class=" add_comment">
        <textarea id="comment" name="comment"></textarea>

        <button id="comment-button" value="Add Comment">Add Comment
        </button>
    </form>
    {{/each}}
</div>


<script src="/js/comment.js"></script>